<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>Please sign in</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous"/>
  </head>
  <body>
     <div class="container">
      <form class="form-signin" method="post" th:action="@{/admin/cadastra_destino/salvar}" th:object="${destino}">
        <h2 class="form-signin-heading">Cadastrar Destino</h2>
        <input type="hidden" id="id" th:field="*{id}">
        <p>
            <label class="sr-only">Nome do destino</label>
            <input type="text" th:field="*{nome_destino}" class="form-control" placeholder="Destino" required autofocus>
        </p>
        <p>
          <label class="sr-only">Sigla</label>
          <input type="text" th:field="*{sigla}" class="form-control" placeholder="Sigla" required autofocus>
        </p>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Salvar</button>
      </form>
    </div>
  </body>
</html>