<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Sistema de Gestão</title>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
</head>
<body>
	<div class="container my-2">
		<a th:href="@{/admin/cadastra_veiculo}" class="btn btn-primary btn-sm mb-3">Incluir Veículo</a>
		<br><a th:href="@{/}">Voltar</a>
		<h1>Veículos</h1>
		<table class="table table-striped table-responsive-md">
			<thead>
				<tr>
                    <th>Descrição</th>
					<th>Ocupação Máxima</th>
					<th>Ações</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="veiculo : ${listaVeiculos}">
                    <td th:text="${veiculo.descricao}"></td>
					<td th:text="${veiculo.ocupacao_maxima}+' '+'vaga(s)'"></td>
					<td>
						<a href="#" th:href="@{/admin/veiculos/{id}(id=${veiculo.id})}" class="btn btn-primary">Alterar</a>
						<a href="#" th:href="@{/admin/veiculos/excluir/{id}(id=${veiculo.id})}" class="btn btn-danger">Excluir</a>			
					</td>
				</tr>
			</tbody>
		</table>
    </div>
</body>
</html>